<!-- Spectrum -->
<div ng-controller_="HomeController">
    <div class="page-header"><h1>{{_t('Zniffer')}}</h1></div>
    <p>Here the sniffer data a shown, per Line Date/Time, Speed, RSSI, Channel. Deöta Spurce Dest, HomeID, Data</p>
    <div id="table_mobile">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>Date/Time</th>
                    <th>Speed</th>
                    <th>RSSI</th>
                    <th>Channel</th>
                    <th>HomeID</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2016-04-25 12:18:56</td>
                    <td>358</td>
                    <td>ABC-25</td>
                    <td>Chanel 1</td>
                    <td>247</td>
                    <td>Data1</td>
                </tr>
                <tr>
                    <td>2016-04-25 12:21:04</td>
                    <td>148</td>
                    <td>DEF-37</td>
                    <td>Chanel 2</td>
                    <td>458</td>
                    <td>Data2</td>
                </tr>
                <tr>
                    <td>2016-04-25 13:35:32</td>
                    <td>852</td>
                    <td>GHI-58</td>
                    <td>Chanel 3</td>
                    <td>857</td>
                    <td>Data2</td>
                </tr>
                <tr>
                    <td>2016-04-25 12:18:56</td>
                    <td>358</td>
                    <td>ABC-25</td>
                    <td>Chanel 1</td>
                    <td>247</td>
                    <td>Data1</td>
                </tr>
                <tr>
                    <td>2016-04-25 12:21:04</td>
                    <td>148</td>
                    <td>DEF-37</td>
                    <td>Chanel 2</td>
                    <td>458</td>
                    <td>Data2</td>
                </tr>
                <tr>
                    <td>2016-04-25 13:35:32</td>
                    <td>852</td>
                    <td>GHI-58</td>
                    <td>Chanel 3</td>
                    <td>857</td>
                    <td>Data2</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>